@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-auto-wrap {
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  }

  .logo-color {
    filter: brightness(0) saturate(100%) invert(72%) sepia(15%) saturate(7486%)
      hue-rotate(358deg) brightness(100%) contrast(109%);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  @apply text-white bg-blue-800 rounded-full border-indigo-700 hover:bg-blue-900 hover:border-indigo-900 transition-all;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
